<!--
    very temporary header bar

    eventually i want to make this actually navigate around but that will take
    effort, and tbh it will be a miracle if i get *something* on the internet.
-->

---
---

<h1>Isaac Trimble-Pederson (wtpisaac)</h1>
