---
import EndPagePadding from "../components/EndPagePadding.astro"
import Header from "../components/Header.astro"
import ReadableContainer from "../components/ReadableContainer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <slot />
        <EndPagePadding />
	</body>
</html>

<style is:global>
    body {
        font-family: sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: black;
            color: white;
        }

        a:link {
            color: orange;
        }

        a:visited {
            color: peru;
        }
    }
</style>